.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav ul {
    display: flex;
    padding-left: 3px;
    
}

.header_nav_item {
    margin-right: 42.62px;
    font-weight: 500 ;
}




